<th:block th:fragment="script_fragment">
    <script th:replace="components/scripts.html :: titulo"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</th:block>


<th:block th:fragment="titulo">
    <script>
        let titulo = document.getElementById('titulo').innerHTML;
        document.getElementById('titulo').innerHTML = titulo[0].toUpperCase() + titulo.substring(1);
    </script>
</th:block>